<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<div class="container-fluid top-container header">
    <div class="container">
        <div class="pull-left">
            <?php echo $this->getChildHtml('store_language') ?>
        </div>
        <div class="pull-right">
            <?php echo $this->getChildHtml('topLinks') ?>
        </div>
    </div>
</div>
<div class="container">
    <header role="banner" id="mainHeader" class="header_green">
        <div class="col-md-3 col-sm-6 col-xs-12 vcenter">
            <?php if ($this->getIsHomePage()):?>
                <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo">
                        <img class="img-responsive margin_bottom" src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
            <?php else:?>
                <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong>
                    <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="img-responsive margin_bottom" /></a>
            <?php endif?>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12 vcenter">
            <?php echo $this->getChildHtml('topContainer'); ?>
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 vcenter freccia">
        	<div class="links_top_n_a">
        	<ul>
            	<li class="link_newsletter"><a href="#" title="Newsletter">NEWSLETTER</a></li>
                <li class="link_login"><a title="Account/Login" href="<?php echo Mage::getUrl('customer/account'); ?>">LOGIN/ACCOUNT</a></li>
            </ul>
            </div>
            <div class="carrello">
            	<a href="<?php echo Mage::helper('checkout/cart')->getCartUrl(); ?>">CARRELLO <?php echo $this->helper('checkout')->formatPrice(Mage::getSingleton('checkout/cart')->getQuote()->getGrandTotal()); ?> | <?php echo Mage::helper('checkout/cart')->getCart()->getItemsCount(); ?></a>
            </div>
        </div>
    </header>
</div>
<?php echo $this->getChildHtml('topMenu') ?>
<?php echo $this->getChildHtml('slider') ?>
