.megamenu-container {

  a.dropdown-toggle {
    cursor: pointer;
  }

  .navbar-nav {
    > li {
      > .dropdown-menu {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }

  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    .navbar-nav {
      > li {
        > a {
          font-weight: bold;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }

  .mega-dropdown {
    position: static !important;
  }

  .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  /*.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
  }

  .mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
  }*/

  .mega-dropdown-menu {
    > li {
      > ul {
        padding: 0;
        margin: 0;
        > li {
          list-style: none;
          > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            color: #999;
            white-space: normal;
          }
          > a:hover, > a:focus {
            text-decoration: none;
            color: #444;
            background-color: #f5f5f5;
          }
        }
      }
    }
    .dropdown-header {
      font-size: 18px;
      font-weight: bold;
    }
    form {
      margin: 3px 20px;
    }
    .form-group {
      margin-bottom: 3px;
    }
  }
}

