<script type="text/javascript">
    var updateCartUrl = '<?php echo $this->getUrl('checkout/cart/updateHeaderBlock')?>';
</script>
<script type="text/template" id="ajax-loader">
    <div class="modal-content">
        <div class="modal-body" id="cart-modal-body-content">
            <center><img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>"/></center>
        </div>
    </div>
</script>
<div class="modal fade" tabindex="-1" role="dialog" id="cart-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" id="modal-dialog-container"></div>
</div>
