<?php
/**
 * @var $this Kosmosol_Theme_Block_Megamenu
 */
?>
<div class="container megamenu-container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only"><?php echo $this->__('Toggle navigation') ?></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->getUrl('/') ?>"><?php echo $this->__('Home') ?></a>
        </div>

        <div class="collapse navbar-collapse js-navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">
                <?php foreach ($this->getMainCategories() as $topLevelCategory): ?>
                    <?php $children = $this->getChildren($topLevelCategory); ?>
                    <li class="dropdown mega-dropdown megamenu-content-container">
                        <?php if ($children->count()):
                            $class = sprintf('col-sm-%s', ceil(12/1));
                        ?>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <?php echo $topLevelCategory->getName() ?>
                        </a>
                        <div class="dropdown-menu mega-dropdown-menu row megamenu-content" style="width: <?php echo $this->getCssWidth($topLevelCategory) ?>px">
                            <?php if ($topLevelCategory->getUseTeaser()): ?>
                            <div class="col-md-<?php echo Mage::helper('kosmosol_theme')->getBlockLayout($topLevelCategory)?> hidden-xs">
                                <?php echo Mage::helper('kosmosol_theme')->getMenuTeaser($topLevelCategory) ?>
                            </div>
                            <ul class="col-sm-<?php echo Mage::helper('kosmosol_theme')->getItemLayout($topLevelCategory)?> col-xs-12">
                                <?php foreach ($children as $middleLevelCategory): ?>
                                    <li class="<?php echo $class ?>">
                                        <?php
                                        $lastLevelChildrens = $this->getChildren($middleLevelCategory);
                                        ?>
                                        <ul>
                                            <?php if (!$lastLevelChildrens->count()): ?>
                                                <li><a href="<?php echo $middleLevelCategory->getUrl() ?>"><?php echo $middleLevelCategory->getName() ?></a></li>
                                            <?php else: ?>
                                                <li class="dropdown-header"><?php echo $middleLevelCategory->getName() ?></li>
                                                <?php foreach ($lastLevelChildrens as $lastLevelChildren): ?>
                                                    <li><a href="<?php echo $lastLevelChildren->getUrl() ?>"><?php echo $lastLevelChildren->getName()?></a></li>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                        </ul>
                                    </li>
                                <?php endforeach; ?>
                            </ul>
                            <?php else: ?>
                                <ul class="col-xs-12">
                                    <?php foreach ($children as $middleLevelCategory): ?>
                                        <li class="<?php echo $class ?>">
                                            <?php
                                            $lastLevelChildrens = $this->getChildren($middleLevelCategory);
                                            ?>
                                            <ul>
                                                <?php if (!$lastLevelChildrens->count()): ?>
                                                    <li><a href="<?php echo $middleLevelCategory->getUrl() ?>"><?php echo $middleLevelCategory->getName() ?></a></li>
                                                <?php else: ?>
                                                    <li class="dropdown-header"><?php echo $middleLevelCategory->getName() ?></li>
                                                    <?php foreach ($lastLevelChildrens as $lastLevelChildren): ?>
                                                        <li><a href="<?php echo $lastLevelChildren->getUrl() ?>"><?php echo $lastLevelChildren->getName()?></a></li>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>
                                            </ul>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                        </div>
                        <?php else: ?>
                        <a href="<?php echo $topLevelCategory->getUrl()?>">
                            <?php echo $topLevelCategory->getName() ?>
                        </a>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </nav>
</div>
<script type="text/javascript">
    var documentWidth = parseInt(jQuery('#main-nav').innerWidth());
    jQuery('.megamenu-content').each(function() {
        var width = parseInt(jQuery(this).outerWidth());
        var parentLeftOffset = parseInt(jQuery(this).parent('li').position().left);
        var left = (documentWidth - parentLeftOffset) - width;
        jQuery(this).css('left', Math.min(left,0));
    });
    jQuery(window).resize(function() {
        var documentWidth = parseInt(jQuery('#main-nav').innerWidth());
        jQuery('.megamenu-content').each(function() {
            var width = parseInt(jQuery(this).outerWidth());
            var parentLeftOffset = parseInt(jQuery(this).parent('li').position().left);
            var left = (documentWidth - parentLeftOffset) - width;
            jQuery(this).css('left', Math.min(left,0));
        });
    })
</script>
