<div class="entry-edit" id="additional-update">
    <?php echo $this->getFormHtml() ?>
</div>
<script type="text/javascript">
    /**
     *
     * @returns object
     * @private
     */
    function _prepareUpdateParams() {
        var element = $$('select[name^=parameters]');
        var result = {};
        for (var k =0; k < element.length; k++) {
            var varName = /parameters\[(.*)\]/.exec(element[k].readAttribute('name'))[1];
            if ($F(element[k])) {
                result[varName] = $F(element[k]);
            } else {
                throw '<?php echo $this->__('All fields must be fullfilled')?>';
            }
        }
        return result;
    }
    $$('.widget-option.select').invoke('observe', 'change', function(changeEvent) {

        try {
            new Ajax.Updater('additional-update', '<?php echo Mage::getUrl('adminhtml/kosmosol_theme_widget/render')?>', {
                parameters: _prepareUpdateParams()
            });
        } catch (exception)    {
            //Do nothing on purpose
            console.log(exception);
        }
    });
</script>
