<?php
/**
 * @var $this Kosmosol_THeme_Block_Widget_Product_Carousel
 */
$_productCollection = $this->getProductsCollection();
$_helper = Mage::helper('catalog/output');
$_qtyPerBreakPoint = $this->getQtyPerBreakPoint();

$productQuantity = $this->getItemBlockQty();
if ($productQuantity == 6) {
	$_w_image = 178;
	$_h_image = 233;
	$css_custom_class = "six";
} else if($productQuantity == 4) {
	$_w_image = 178;
	$_h_image = 233;
	$css_custom_class = "four";
} else if($productQuantity == 3) {
	$_w_image = 234;
	$_h_image = 318;
	$css_custom_class = "three";
} else if($productQuantity == 2) {
	$_w_image = 356;
	$_h_image = 506;
	$css_custom_class = "two";
} else if($productQuantity == 12) {
	$_w_image = 89;
	$_h_image = 96;
	$css_custom_class = "twelve";
}
?>
<?php if ($this->getUseContainer()) : ?><div class="row"><?php endif; ?>
    <?php foreach ($this->getBreakPoints() as $breakpoint): ?>
    <?php $uniqueId = Mage::helper('core')->uniqHash(sprintf('slide_%s', $breakpoint))?>
    <?php $_iterator = 0;?>
    <div id="<?php echo $uniqueId?>" class="carousel slide <?php echo $this->getGridClass()?> visible-<?php echo $breakpoint?>" data-ride="carousel" data-pause="hover" data-interval="<?php echo $this->getInterval()?>">
        <?php if ($this->showCarouselHeader()): ?>
        <?php if ($this->showCarouselControl($breakpoint)): ?>
        <a class="pull-right" href="#<?php echo $uniqueId?>" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="pull-right" href="#<?php echo $uniqueId?>" data-slide="prev" style="margin-right: 0.3em">
            <i class="fa fa-angle-left"></i>
        </a>
        <?php endif; ?>
        <div class="sfondo_title"><span class="widget-title"><?php echo $this->getTitle() ?></span></div>
        <?php endif; ?>
        <div class="carousel-inner">
            <?php foreach ($_productCollection as $_product): ?>
                <?php if ($_product->getId() == $_productCollection->getFirstItem()->getId()): ?>
                <div class="item active">
                <?php elseif ($_iterator%$this->getQtyPerBreakPoint($breakpoint) == 0) : ?>
                </div>
                <div class="item">
                <?php endif; ?>
                <div class="<?php echo sprintf('col-%s-%s', $breakpoint, 12/$this->getQtyPerBreakPoint($breakpoint))?>">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <?php $_imgSize = 300; ?>
                        <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                             class="img-responsive"
                             src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(178,273); ?>"
                             alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </a>
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <div class="space_name">
                    <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_productNameStripped; ?><?php //echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h3>
                    </div>
                    <div class="product-secondary">
                        <?php echo $this->getPriceHtml($_product) ?>
                        <?php if($_product->isSaleable()): ?>
                            <p><button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                        <?php else: ?>
                            <br style="clear:both;line-height:7px;" />
                        <?php endif; ?>
                    </div>
                </div>
                <?php if ($_product->getId() == $_productCollection->getLastItem()->getId()): ?>
                </div>
                <?php endif; ?>
                <?php $_iterator++ ?>
            <?php endforeach; ?>
        </div>
    </div>
    <?php endforeach; ?>
<?php if ($this->getUseContainer()) : ?></div><?php endif; ?>
