<?php
/**
 * @var $this Kosmosol_THeme_Block_Widget_Product_Carousel
 */

$_productCollection = $this->getProductsCollection();
$_iterator = 0;
$_helper = Mage::helper('catalog/output');
?>
<?php if ($this->getUseContainer()) : ?>
<div class="row">
<?php endif; ?>
    <div id="<?php echo md5($this->getNameInLayout())?>" class="carousel slide <?php echo $this->getGridClass()?>">
        <?php if ($this->showCarouselHeader()): ?>
        <a class="pull-right" href="#<?php echo md5($this->getNameInLayout())?>" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
        <a class="pull-right" href="#<?php echo md5($this->getNameInLayout())?>" data-slide="prev" style="margin-right: 0.3em">
            <i class="fa fa-angle-left"></i>
        </a>
        <?php if ($this->getTitle()): ?>
        <span class="widget-title"><?php echo $this->getTitle() ?></span>
        <?php endif; ?>
        <?php endif; ?>
        <div class="carousel-inner">
            <?php foreach ($_productCollection as $_product): ?>
                <?php if($_iterator%$this->getItemBlockQty() == 0 && $_iterator == 0): ?>
                    <div class="item active">
                    <div class="row">
                <?php elseif ($_iterator%$this->getItemBlockQty() == 0 && $_iterator > 0): ?>
                    </div>
                    </div>
                    <div class="item">
                    <div class="row">
                <?php endif; ?>
                <div class="<?php echo $this->getItemGridClass() ?>">
                    <div class="row">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                            <?php $_imgSize = 300; ?>
                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                 class="img-responsive"
                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(178,273); ?>"
                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                        </a>
                    </div>
                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                    <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h3>
                    <div class="product-secondary">
                        <?php echo $this->getPriceHtml($_product) ?>
                        <?php if($_product->isSaleable()): ?>
                            <p><button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    </div>
                </div>
                <?php if ($_iterator == count($_productCollection)-1): ?>
                    </div>
                    </div>
                <?php endif; ?>
                <?php $_iterator++ ?>
            <?php endforeach; ?>
        </div>
    </div>
<?php if ($this->getUseContainer()) : ?>
</div>
<?php endif; ?>
