<?php
/**
 * @var $this Kosmosol_THeme_Block_Widget_Banner
 */
?>
<?php if ($this->getUseContainer()): ?>
<div class="row">
<?php endif; ?>
<div class="<?php echo $this->getGridClass()?>">
    <?php if ($this->getBannerLink()): ?>
    <a href="<?php echo $this->getBannerLink()?>">
    <?php endif;?>
    <img src="<?php echo $this->getBanner()?>" alt="<?php echo $this->getAlt()?>" class="img-responsive"/>
    <?php if ($this->getBannerLink()): ?>
    </a>
    <?php endif;?>
</div>
<?php if ($this->getUseContainer()): ?>
</div>
<?php endif; ?>
