<?php
/**
 * @var $this Kosmosol_Theme_Block_Checkout_Cart_Link
 * @var $item Mage_Sales_Model_Quote_Item
 */
?>
<a id="top-link-cart">
    <?php echo $this->getCartText() ?>
</a>
<ul class="dropdown-menu" id="cart-dropdown-menu">
    <?php if ($this->getCartItems()): ?>
        <?php foreach ($this->getCartItems() as $item): ?>
            <li class="col-xs-12">
                <div class="col-xs-4">
                    <img src="<?php echo Mage::helper('catalog/image')->init($item->getProduct(), 'small_image')->resize(50) ?>"/>
                </div>
                <div class="col-xs-8">
                    <strong class="product-name"><?php echo $item->getName()?></strong>
                    <?php echo $this->getPriceHtml($item) ?>
                </div>
            </li>
        <?php endforeach; ?>
        <li role="separator" class="divider"></li>
        <li>
            <div class="col-xs-12">
                <a href="<?php echo $this->getUrl('checkout/cart')?>"><?php echo $this->__('View Cart') ?></a>
            </div>
        </li>
    <?php else: ?>
        <li>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $this->__('You have no items in your cart')?>
                </div>
            </div>
        </li>
    <?php endif; ?>
</ul>
