<?php
/**
 * @var $this Kosmosol_Theme_Block_Checkout_Cart_Response
 *
 */
$_product = $this->getAddedProduct();
$_helper = Mage::helper('catalog/image');
?>
<div class="modal-content">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <img class="img-responsive" src="<?php echo $_helper->init($_product, 'small_image')->resize(300)?>"/>
                </div>
                <div class="col-xs-8">
                    <h3><?php echo $this->__('%s has been added to cart', sprintf('<span class="highlight">%s</span>', $_product->getName()))?></h3>
                    <button type="button" class="btn btn-default" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')"><?php echo $this->__('Go to cart') ?></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->__('Keep buying') ?></button>
                </div>
            </div>
        </div>
    </div>
</div>
