<img src="" id="choosen-banner" class="placeholder" onclick="<?php echo sprintf("MediabrowserUtility.openDialog('%s')", Mage::helper('kosmosol_theme')->getMediaManagerDialog('banner')) ?>"/>
<script type="text/javascript">
    window.setInterval(function () {
        if ($F('banner') != '') {
            $('choosen-banner').addClassName('fullfilled');
        }
        if ($F('banner') != '' && $F('banner') != $('choosen-banner')) {
            $('choosen-banner').writeAttribute('src', $F('banner'));
        }
    }, 100);
</script>
<style type="text/css">
    .placeholder {
        border: 1px lightgrey dashed;
        height: 200px;
        width: 200px;
        cursor: pointer;
    }
    .fullfilled {
        width: auto;
        height: auto;
    }
    .placeholder:hover {
        border-color: black;
    }
</style>
